*{
    margin: auto;
}
.fcontainer{
    height: 1500px;
    width: 1500px;
    background: lightcoral;
}
header{
    display: flex;
    height:200px;
    width: 1500px;
    background-color: lightgray;
}
.logo{
    height: 150px;
    width: 150px;
    background: black;
}
nav{
    height: 150px;
    width: 600px;
    background: lightgreen;
}
.content{
    height: 1200px;
    width: 1500px;
    background: #00abf0;
}
footer{
    height: 200px;
    width: 1500px;
    background: lightgray;
}